.top-image-holder
{
	width: 100%;
	box-shadow: 0px 4px 4px 2px rgba(0,0,0,0.2);
	
	height:auto;
	background-color: dodgerblue;
	animation: color_variation;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	background: linear-gradient(to right bottm ,indigo , dodgerblue , cyan);
}
@keyframes color_variation
{
	0%{background-color: indigo}
	20%{background-color:dodgerblue }
	40%{background-color:mediumseagreen }
	60%{background-color:orange }
	80%{background-color:tomato }
	100%{background-color:indigo }
}


.top-image-text-holder
{
	width: 100%;
	height: 260px;
}
.top-image-text{
	font-family: calibri;
	color: white;
	padding-top: 70px;
	font-size: 50px;
	font-weight: 200;
	text-align: center;
	margin: 0px;

}
.top-image-text-bottom{
	font-family: calibri;
	color: white;
	padding-top: 5px;
	font-size: 18px;
	font-weight: 200;
	text-align: center;
	margin: 0px;
	max-width: 700px;
	margin: auto;

}
.top-image
{
	width: 100%;
}
.welcome-image
{
	width: 100%;
	height:auto;
	margin-bottom: -4px;
}
.friend-zone
{
	width: 96%;
	padding: 20px;
}
.grid-hold
{
	margin: auto;
}
.grid
{
	background-color: white;
	display: inline-block;
	margin: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #e6e6e6;
	box-shadow: 0px 4px 4px 2px rgba(0,0,0,0.2);
	transition: all 0.2s;
}
.grid:hover
{
		box-shadow: 0px 16px 16px 8px rgba(0,0,0,0.2);

}
.friend-icon-hold
{
	margin: 40px;
	width: 130px;
	height: 130px;
	border: 4px solid white;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
	background-color: gray;
	border-radius: 100px;
	margin-bottom: 20px;
}
.friend-name-hold
{
	width: 160px;
	margin: auto;
}
.friend-name 
{
	font-size: 18px;
	font-weight: 600;
	font-family: calibri;
	text-align: center;
	color: #666;
	width: 160px;
	overflow: hidden;
	text-transform: capitalize;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0px;

}
.friend-name-mutual
{
	font-size: 14px;
	margin: 0px;
	font-weight:normal;
	font-family: calibri;
	text-align: center;
	color: #666;
	width: 160px;
}
.friend-action-btn-holder
{
	width: 90%;
	margin: auto;
	padding: 10px;
}
.action-btn
{
	width: 40px;
	height: 40px;
	margin-left: 25px;
	margin-right: 25px;
	float: left;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 20px;
	background-color: #7c5ac2;
	transition: all 0.5s;
}
.action-icon
{
	color: white;
	font-size: 18px;
	font-weight: 600;
	font-family: calibri;
	text-align: center;
	padding: 10px;
}
.action-btn:hover
{
	box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.2);
	background: #a367fd;

}
.load-more-hold
{
	width: 100%;
	height: 50px;
	background-color: white;
	border: 1px solid #e6e6e6;
}
.load-more 
{
	font-size: 18px;
	font-weight: 600;
	font-family: calibri;
	text-align: center;
	color: #999;
	padding: 10px;
	margin: 0px;
	

}
.actionBtn-success
{
	width: 100%;
	height: 0px;
	background:linear-gradient(to right, dodgerblue, slateblue,  #a367fd );
	animation: hide;
	animation-duration:300s;
	animation-delay: 1s;
	animation-timing-function: ease-in-out;
	border: 1px solid #e6e6e6;
}
@keyframes hide{
	0%{height: 0px;}
	0.6%{height: 50px;}
	19.4%{height: 50px;}
	20%{height: 0px;}
	99.4%{height: 0px;}
}

.action-success
{
	font-size: 1px;
	font-weight: 600;
	font-family: calibri;
	text-align: center;
	color: white;
	padding: 10px;
	padding-top: 0px;
	margin: 0px;
	animation: hide2;
	animation-duration:300s;
	animation-delay: 1s;
	animation-timing-function: ease-in-out;
}
@keyframes hide2{
	0%{font-size: 1px;
		padding-top: 0px;}
	0.6%{font-size: 18px;
		padding-top: 10px;}
	19.4%{font-size: 18px;
		padding-top: 10px;}
	20%{font-size: 1px;
		padding-top: 0px;}
	99.4%{font-size: 1px;
		padding-top: 0px;}
}